* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: 'MedievalSharp';
    box-sizing: border-box;
}

body {
    background-color: rgb(94, 32, 32);
    color: aliceblue;
    max-height: 100vh;
    max-width: 100vw;
}

/* body,
a:hover,
button:hover {
    cursor: url(https://1.bp.blogspot.com/-SrWrW7kwA7s/Vurt-S6kUzI/AAAAAAAABeA/DyHLGkjS_iQWg37IoMF-JsDYgecIWI6mg/s1600/cursor.png) -20 -20, auto;
} */

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-blend-mode: screen;
}

div.invitation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 55vw;
    background-color: rgb(65, 19, 19);
    opacity: 0.7;
    border-radius: 5%;
    margin: 3vh;
    padding-bottom: 4vh;
}

div.invitation h1 {
    font-size: 52px;
    margin: 30px;
    padding: 15px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
}

div.invitation h2 {
    font-size: 42px;
    margin: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.85);
}

div.invitation p {
    padding: 10px;
    font-size: 23px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.85);
    line-height: 40px;
}

button.start {
    height: 45px;
    width: auto;
    background-color: rgb(167, 17, 47);
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    line-height: 0.5;
    transition: 0.6s;
}

button.start:hover {
    background-color: red;
    cursor: pointer;
}

.summary {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    height: calc(100vh - 6px);
    width: 25vw;
    top: 0;
    right: 0;
    padding: 0 0 0 20px;
    text-align: justify;
    font-size: 22px;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
    background-color: rgb(94, 32, 32);
    background-image: url(img/005.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border: 5px ridge #767676;
    -webkit-box-shadow: inset 0px 0px 48px 11px rgb(53, 17, 17);
    -moz-box-shadow: inset 0px 0px 48px 11px rgb(53, 17, 17);
    box-shadow: inset 0px 0px 48px 11px rgb(53, 17, 17);
}

.summaryName {
    width: 100%;
    padding: 20px 0 0 0;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.summaryBasics {
    width: 60%;
    line-height: 1.8;
}

.summaryAttributes {
    width: 90%;
    line-height: 1.8;
}

img.summaryPortrait {
    /* position: fixed;
    top: 18%;
    right: 4%; */
    display: flex;
    width: 110px;
    height: 170px;
    border: 1px solid orange;
}

.genderSelection,
.raceSelection,
.nameSelection,
.classSelection,
.portraitSelection,
.attributeSelection {
    position: relative;
    background-color: rgb(94, 32, 32);
    color: aliceblue;
    min-height: 23vh;
    width: 50%;
    left: 35%;
    transform: translate(-50%, 0);
    padding: 5px;
    margin: 3vh;
    border: 5px ridge #6d6d6d;
    -webkit-box-shadow: inset 0px 0px 33px 3px rgba(31, 4, 4, 0.65);
    -moz-box-shadow: inset 0px 0px 33px 3px rgba(31, 4, 4, 0.65);
    box-shadow: inset 0px 0px 33px 3px rgba(31, 4, 4, 0.65);
}

div.genderSelection {
    background-image: url(img/000.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

div.raceSelection {
    background-image: url(img/002.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

div.nameSelection {
    background-image: url(img/003.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

div.classSelection {
    background-image: url(img/004.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

div.portraitSelection {
    height: 48vh;
    background-image: url(img/005.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

div.attributeSelection {
    width: 60%;
    height: 90vh;
    left: 33.5%;
    background-image: url(img/006.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(94, 32, 32);
    background-blend-mode: darken;
}

.statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px 0 20px 0;
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    font-size: 24px;
}

div.attributeSelection button.plus,
div.attributeSelection button.minus {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-family: inherit;
    margin: 1vh;
    border: 0;
    color: aliceblue;
    background: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
}

div.attributeSelection span {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
}

div.attributeSelection p {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
}

p.description {
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
    line-height: 1.7;
}

.pointsLeft {
    font-size: 24px;
}

.pointsLeft span {
    font-size: 50px;
}

button.plus,
button.minus:hover {
    cursor: pointer;
}

.nameSelected,
.classSelected,
.genderSelected,
.raceSelected {
    color: aliceblue;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    border-radius: 3px;
}

.portraits {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1vw;
}

.portraits button {
    width: auto;
    height: auto;
    padding: 0;
    margin: 1vw;
    border: none;
    border-radius: 20%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.portraits button img {
    border-radius: 3%;
    -webkit-box-shadow: 10px 10px 11px -6px rgba(18, 1, 1, 0.7);
    -moz-box-shadow: 10px 10px 11px -6px rgba(18, 1, 1, 0.7);
    box-shadow: 10px 10px 11px -6px rgba(18, 1, 1, 0.7);
}

input {
    height: 25px;
    width: 180px;
    margin: 5px;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 5%;
}

input:focus {
    background-color: rgb(247, 220, 186);
}

button.gender {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    line-height: 1.4;
    text-align: center;
    margin: 7px;
    transition: 1s;
}

button.gender:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.resetGender,
.resetRace,
.resetName,
.resetClass,
.resetPortrait,
.resetAttributes {
    position: absolute;
    bottom: 12%;
    right: 10%;
    height: 28px;
    width: 28px;
    background-color: rgb(36, 15, 15);
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    transition: 0.6s;
}

button.resetGender {
    bottom: 11%;
}

button.resetPortrait {
    bottom: 7%;
}

button.portraitForward {
    bottom: 7%;
}

.resetGender,
.resetRace,
.resetName,
.resetClass,
.resetPortrait,
.resetAttributes:hover {
    background-color: rgb(54, 22, 22);
    cursor: pointer;
}

.genderForward,
.raceForward,
.nameForward,
.classForward,
.portraitForward,
.attributeForward {
    position: absolute;
    bottom: 12%;
    right: 4%;
    height: 28px;
    width: 28px;
    background-color: rgb(36, 15, 15);
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    transition: 0.6s;
    cursor: pointer;
}

button.genderForward {
    bottom: 11%;
}

button.resetAttributes,
button.attributeForward {
    bottom: 5%;
}

.hidden {
    display: none !important;
}

.active {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 187, 0, 0.81) !important;
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 187, 0, 0.81) !important;
    box-shadow: 0px 0px 15px 5px rgba(255, 187, 0, 0.81) !important;
}

button.submitName {
    height: 30px;
    width: auto;
    background-color: rgb(36, 15, 15);
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    transition: 0.6s;
}

button.submitName:hover {
    background-color: rgb(54, 22, 22);
    cursor: pointer;
}

button.charClass,
button.charRace {
    height: 30px;
    width: 62px;
    background-color: rgb(36, 15, 15);
    color: aliceblue;
    padding: 6px;
    margin: 5px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    line-height: 0.4;
    transition: 0.6s;
}

button.charClass,
button.charRace:hover {
    background-color: rgb(54, 22, 22);
    cursor: pointer;
}

h2 {
    margin: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.85);
}

i.fa-info {
    position: absolute;
    top: 22%;
    right: 3%;
    width: 22px;
    height: 22px;
    font-size: 16px;
    color: rgba(255, 187, 0, 0.81);
    background-color: black;
    border: 1px solid rgba(255, 187, 0, 0.81);
    border-radius: 2px;
    line-height: 1.3;
    text-align: center;
    cursor: help;
}

i.race-info::after {
    position: absolute;
    display: none;
    content: "Human: +1 CHA, -1 WILL \A Elf: +1 INT, -1 CON \A Dwarf: +1 CON, -1 DEX \A Halfling: +1 DEX, -1 STR";
    top: 50%;
    left: 50%;
    width: 200px;
    height: 90px;
    padding: 10px;
    font-size: 15px;
    font-family: 'MedievalSharp';
    text-align: left;
    color: rgba(255, 187, 0, 0.81);
    background-color: rgb(39, 1, 1);
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    line-height: 1.4;
    border: 2px solid rgba(255, 187, 0, 0.81);
    border-radius: 2px;
    opacity: 0;
    white-space: pre;
    transition: all 0.5s ease 0s;
}

i.race-info:hover::after {
    display: block;
    opacity: 0.95;
    z-index: 1;
}

i.class-info::after {
    position: absolute;
    display: none;
    content: "Warrior: +1 STR, +1 CON \A Wizard: +1 INT, +1 WILL \A Cleric: +1 CHA, +1 WILL \A Rogue: +1 DEX, +1 INT";
    top: 50%;
    left: 50%;
    width: 200px;
    height: 90px;
    padding: 10px;
    font-size: 15px;
    font-family: 'MedievalSharp';
    text-align: left;
    color: rgba(255, 187, 0, 0.81);
    background-color: rgb(39, 1, 1);
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    line-height: 1.4;
    border: 1px solid rgba(255, 187, 0, 0.81);
    border-radius: 2px;
    opacity: 0;
    white-space: pre;
    transition: all 0.5s ease 0s;
}

i.class-info:hover::after {
    display: block;
    opacity: 0.95;
    z-index: 1;
}

i.attribute-info::after {
    position: absolute;
    display: none;
    content: "3 - 4: very low attribute \A 5 - 8: low \A 9 - 11: average \A 12 - 15: high \A 16 - 19: very high \A 20: incredible";
    top: 50%;
    left: 50%;
    width: 172px;
    height: 126px;
    padding: 10px;
    font-size: 15px;
    font-family: 'MedievalSharp';
    text-align: left;
    color: rgba(255, 187, 0, 0.81);
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0px 0px 25px 11px rgba(255, 187, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    box-shadow: inset 0px 0px 3px 1px rgba(255, 187, 0, 0.9);
    line-height: 1.4;
    border: 1px solid rgba(255, 187, 0, 0.81);
    border-radius: 2px;
    opacity: 0;
    white-space: pre;
    transition: all 0.5s ease 0s;
}

i.attribute-info:hover::after {
    display: block;
    opacity: 0.95;
    z-index: 1;
}